body {
    margin: 0;
    width: 550px;
    height: 550px;
    background: #ECFDF5;
    padding-left: 61px;
    padding-top: 64px;
}

.title{
    font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 20px;
letter-spacing: -0.05em;
font-family: 'Karla', sans-serif;
margin: none;
}

#title-one{
    color: #2B283A;


}

#title-two{
    color: #10B981;


}

h3{
    color: #6B7280;
    font-family: 'Inter', sans-serif;
}

#btn-pwd{
    margin: 30px 0 20px 0;
    padding: 10px;
    width: 191px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background-color: #10B981;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.line{
    border: 1px solid #D5D4D8;
}

.pwd{
    margin-top: 40px;
    
}

#pwd-one{
    width: 211px;
    height: 39px;
    margin-right: 24px;
    border: 0;
    background-color: #273549;
    border-radius: 5px;
    color: #5DEF92;
    font-size: 16px;
}

#pwd-two{
width: 211px;
height: 39px;
margin-left: 24px;
border: 0;
background-color: #273549;
border-radius: 5px;
color: #5DEF92;
font-size: 16px;
}

#digits{
    display: block;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 10px;;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }